.footer {
  padding-top:10px;
  height: 80px;
  background-color: #f5f5f5;
}


body{
	color:black;
}

.navbar{
	padding-top:5px;
}

.container{
	width:1300px;
}

th{
	text-align:center;
}

.almoco{
	font-weight: 600;
}

.semAula{
	color:#807F7E;
	font-weight: 600;
}

.naoDefinido{
	color:#E80909;
	font-weight: 600;
}

.legislacao{
	color:#221CE6;
	font-weight: 600;
}


.direcaoDefensiva{
	color:#F2EF38;
	font-weight: 600;
}

.primeirosSocorros{
	color:#E80909;
	font-weight: 600;
}

.mecanica{
	color:#E0D0BF;
	font-weight: 600;
}

.meioAmbiente{
	color:#187813;
	font-weight: 600;
}