html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

legend{
	margin-bottom:-15px;
}

.navbar{
	padding-top:5px;
}

.container{
	width:1300px;
}

th{
	text-align:center;
}

.almoco{
	color:#000000;
	font-weight: 600;
}

.semAula{
	color:#807F7E;
	font-weight: 600;
}

.naoDefinido{
	color:#E80909;
	font-weight: 600;
}

.legislacao{
	color:#221CE6;
	font-weight: 600;
}

.direcaoDefensiva{
	color:#d7d828;
	font-weight: 600;
}

.primeirosSocorros{
	color:#E80909;
	font-weight: 600;
}

.mecanica{
	color:#28c2d8;
	font-weight: 600;
}

.meioAmbiente{
	color:#187813;
	font-weight: 600;
}

.padding{
	padding:1px 10px 0 0;
}

.feriado{
	color:#ac06c1;
	font-weight: 600;
}